[Unit]
Description=Shortlink Go API
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=shortlink
Group=shortlink
WorkingDirectory=/opt/shortlink/current
EnvironmentFile=/etc/shortlink/shortlink.env
ExecStart=/opt/shortlink/current/shortlink-api
Restart=on-failure
RestartSec=3s
TimeoutStopSec=20s
KillSignal=SIGTERM
UMask=0027

StandardOutput=journal
StandardError=journal
SyslogIdentifier=shortlink-api

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectClock=true
RestrictSUIDSGID=true
LockPersonality=true
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
StateDirectory=shortlink
StateDirectoryMode=0750
ReadWritePaths=/var/lib/shortlink
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
